<!DOCTYPE html>
<html>
  <head>
    <title>Chat</title>
    <%= favicon_link_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.tiny.cloud/1/rp7s8uwi9knq4to990nnizr2i0ro0odzxe3fqdc4jyu2snpn/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <div class="ui container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
